#FRONT
# dependencies
/react-spa-frontend/node_modules
/react-spa-frontend/.pnp
/react-spa-frontend/.pnp.js

# testing
/react-spa-frontend/coverage

# production
/react-spa-frontend/build

# misc
/react-spa-frontend/.DS_Store
/react-spa-frontend/.env.local
/react-spa-frontend/.env.development.local
/react-spa-frontend/.env.test.local
/react-spa-frontend/.env.production.local

/react-spa-frontend/npm-debug.log*
/react-spa-frontend/yarn-debug.log*
/react-spa-frontend/yarn-error.log*


#BACK
/express-backend/node_modules